In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Score": [20, 40, 90, 80, 60, 10, 5, 60, 90],
        "Weight": [1, 2, 3, 1, 2, 3, 1, 2, 3],
        "Student": ["A", "A", "A", "B", "B", "B", "C", "C", "C"],
        "Assessment": ["Quiz", "Test", "Final Exam", "Quiz", "Test", "Final Exam", "Quiz", "Test", "Final Exam"],
    }
)
df

   Score  Weight Student  Assessment
0     20       1       A        Quiz
1     40       2       A        Test
2     90       3       A  Final Exam
3     80       1       B        Quiz
4     60       2       B        Test
5     10       3       B  Final Exam
6      5       1       C        Quiz
7     60       2       C        Test
8     90       3       C  Final Exam

In [4]:
def grouped_weighted_avg(values, weights, by):
    return (values * weights).groupby(by).sum() / weights.groupby(by).sum()

In [5]:
grouped_weighted_avg(df["Score"], df["Weight"], df["Student"])

Student
A    61.666667
B    38.333333
C    65.833333
dtype: float64

In [38]:
data = [[1, '2019-02-17', '2019-02-28', 5], [1, '2019-03-01', '2019-03-22', 20], [2, '2019-02-01', '2019-02-20', 15], [2, '2019-02-21', '2019-03-31', 30], [3, '2019-02-21' , '2019-03-31',  30 ]]
prices = pd.DataFrame(data, columns=['product_id', 'start_date', 'end_date', 'price']).astype({'product_id':'Int64', 'start_date':'datetime64[ns]', 'end_date':'datetime64[ns]', 'price':'Int64'})
data = [[1, '2019-02-25', 100], [1, '2019-03-01', 15], [2, '2019-02-10', 200], [2, '2019-03-22', 30]]
units_sold = pd.DataFrame(data, columns=['product_id', 'purchase_date', 'units']).astype({'product_id':'Int64', 'purchase_date':'datetime64[ns]', 'units':'Int64'})


3

3

In [50]:
res = pd.merge(prices, units_sold, on=['product_id'], how='left')
res = res[(res['purchase_date'] >= res['start_date']) & (res['purchase_date'] <= res['end_date']) | pd.isna(res['purchase_date'] )]
res = (res['price'] * res['units']).groupby(res['product_id']).sum() / res['units'].groupby(res['product_id']).sum()
res = res.to_frame().reset_index()
res = res.rename(columns={0: "average_price"})
res['average_price'] = res['average_price'].round(2)
res['average_price'] = res['average_price'].apply(lambda x: 0 if x is None else x)

res = res.fillna(0)
res

   product_id  average_price
0           1           6.96
1           2          16.96
2           3            NaN